<% content_for :head do %>
    <meta name="turbo-visit-control" content="reload">
<% end %>
<div class="container py-4">
    <%= link_to "Ajouter une randonnée passée",
                new_hike_history_path,
                class: "btn btn-outline-primary mb-4 d-inline-block" %>
    <%= link_to "Ajouter une randonnée à venir",
                new_hike_history_path,
                class: "btn btn-outline-primary mb-4 d-inline-block" %>

    <%= link_to "Ajouter un nouveau parcours",
                new_hike_path,
                class: "btn btn-outline-primary mb-4 d-inline-block", style: "float: right" %>

    <%= form_with url: hikes_path, method: :get, local: true, class: "mb-4" do |f| %>
        <div class="row g-3">
            <div class="col-md-8">
                <%= f.text_field :search,
                                 placeholder: "Rechercher par nom, lieu ou date (ex: 12/2024)...",
                                 value: params[:search],
                                 class: "form-control" %>
            </div>
            <div class="col-md-4">
                <div class="d-flex">
                    <%= f.submit "Rechercher", class: "btn btn-outline-primary flex-grow-1" %>
                    <%= link_to "Réinitialiser", hikes_path, class: "btn btn-outline-secondary ms-2" %>
                </div>
            </div>
        </div>
    <% end %>

    <%= render partial: "list" %>

</div>